@{
    ViewData["Title"] = "Home Page";
}
@model ViewModel


     

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">spaceship</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </nav>
<div class="wrapper">
       
  <!-- <div class="box header">Header</div> -->
  <div class="box sidebar">
      
              <a href="/Login" id="login" title="Click here to Login" class="btn login btn-info">Login</a>
              <a href="/Reg" id="reg" title="Click here to Login" class="btn reg btn-warning">Register</a>



  </div> 
  <div class="box content">
    <img id="hide-b" style="@ViewBag.img" src="~/images/explode.jpg" alt="Exploding Spaceships">

<div id="user_login" style="display: none;">
    <form asp-controller="Home" id="sub_reg" asp-action="Login" method="post">
        <h3>Login</h3>
        <div class="form-group">    
        Username:  <input class="form-control"  asp-for="loginUser.LogUsername" placeholder="...limited to 255 characters"></textarea>    
        Password:<input type="password" asp-for="loginUser.LogPassword" class="form-control">    
        <button type="submit" class="btn log_submit btn-success">Submit</button>
        </div>
    </form>
</div>
    
<div id="user_reg" style="display: none;">
        <form asp-area="" asp-controller="Home" asp-action="Register" method="post">
          <h3>Create a new account</h3>
        <div class="form-group">
            Username: <input class="form-control" type="text" asp-for="regUser.Username" placeholder="...min 2 letters, alpha only">
            
            Password: <input type="password" asp-for="regUser.Password" class="form-control">

            Password Confirm: <input type="password" asp-for="regUser.ConfirmPassword" class="form-control">
            
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
<div class="error">
    <h1>@ViewBag.error</h1>
    <span style="color:red;" asp-validation-for="regUser.Username"></span> 
    <p></p>
    <span style="color:red;" asp-validation-for="regUser.Password"></span>
    <p></p>
    <span style="color:red;" asp-validation-for="loginUser.LogPassword"></span>
    <p></p>
    <span style="color:red;" asp-validation-for="loginUser.LogUsername"></span>
    
</div>





    </div>
  <div class="box footer">A realistic Space Force training simulator</div>
</div>

